.wrapper {
	max-width: 1050px;
	margin: 0 auto;
}

.belly {
	padding: 10px 30px;
	margin: 0 auto;
	width: 960px;
}


canvas {
	cursor: crosshair;
	border: 2px solid #e36b23;
}

.tool {
	margin: 10px 0;
}

.btn.tool .popover  {
	font-size: 16px;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.radius, .depth, .cutInverse {
	display: none;
}

.selected-drill .radius {
	display: block;
}

.selected-mill .radius,
.selected-mill .depth {
	display: block;
}

.selected-saw .cutInverse {
	display: block;
}


.rating {
	color: yellow;
	font-size: 24px;
}

.close {
	color: white;
	opacity: 0.9;
}